@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* New color variable */
  --header-text-color: oklab(0.442 0.00462477 -0.0163588);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Defining the new font */
  --font-neue: "neueFont", "neueFont Fallback", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.129 0.042 264.695);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}